.wrapper {
    width: 100vw;
    height: 100vh;
}

.typeYourName {
    text-align: center;
    margin: 30vh 1rem 0 1rem;
    font-size: 4vh;
    font-family: monospace;
}

.inputHere {
    border: none;
    font-weight: 500;
    margin-left: 7px;
    background-color: inherit;
}

.btnDiv {
    width: 100vw;
    display: flex;
    margin-top: 50px;
}

.confirmBtn {
    background-color: #B8C6FF;
    width: 10rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 2000px;
    line-height: 1;
    font-size: 1.5rem;
}

.confirmBtn:hover {
    background-color: #A7C6E8;
    color: rgb(197, 240, 255);
    transform: scale(95%);
}

.continueBtn:active {
    background-color: #A7C6E8;
    color: rgb(197, 240, 255);
    transform: scale(95%);
}