.speechBoxWrapper {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.speechBox {
    width: 300px;
    height: 250px;
    /* border: 10px solid rgb(129, 141, 145); */
    border: 10px solid rgb(57, 57, 57);
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.speechText {
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.nextBtn {
    width: 300px;
    height: 50px;
    margin: 10px auto 3rem auto;
    background-color: rgb(57, 57, 57);
    color: white;
    font-size: 40px;
    line-height: 40px;
    border: none;
    border-radius: 10px;
}