.outerBox {
    display: flex;
    width: 100%;
    /* background-color: lightgray; */
    margin: 125px auto 50px auto;
}

.innerBox {
    background-image: linear-gradient(white, black);
    width: 100px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    /* My power is over 9000! */
    border-radius: 9999999999999px;
}

.doug {
    position: relative;
    top: -123px;
    right: 42px
}

.eyeBox {
    width: 230px;
    height: 75px;
    /* background-color:pink; */
    display: flex;
    flex-direction: row;
}

.leftEye, .rightEye {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 10px solid white;
    border-radius: 100px;
    position: relative;
    left: 80px;
    top: 30px;
    z-index: 2;
}

.bugBody {
    z-index: 1;
    background-color: greenyellow;
    width: 100px;
    height: 125px;
    border-radius:40px 1000px;
    position: relative;
    left: 50px;
    top: -25px;
    transform: rotate(45deg);
}

.mouth {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 1000px;
    transform: rotate(-70deg);
    position: relative;
    top: 34px;
    left: 17px;
}