.welcomeDiv {
    margin-top: 20%;
    text-align: center;
}

.welcomeInput {
    background-color: inherit;
    text-align: center;
    border: none;
    font-weight: 500;
    font-size: 40px;
}

.thisGame {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.continueBtn {
    background-color: rgb(132, 255, 186);
    width: 10rem;
    height: 3rem;
    margin: 25px auto;
    border: none;
    border-radius: 2000px;
    line-height: 1;
    font-size: 1.5rem;
}